Source: dynfilefs
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper-compat (= 10), libfuse-dev
Standards-Version: 4.6.2
Homepage: https://github.com/Tomas-M/dynfilefs

Package: dynfilefs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FUSE-based dynamic file system utility
 DynFileFS is a utility for creating a dynamic virtual file system using FUSE.
 It stores changes in specified files and supports flexible file management.
